[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
jupyter = "*"
matplotlib = "*"
tqdm = "*"
scikit-learn = "*"
gspread = "*"
pyparsing = "==2.4.7"
pytz = "*"
oauth2client = "*"
tensorboard = "*"
opencv-python = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
